body{
    background-color: #65A6B5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
h1{
    color: white;
}
.kaste1{
    height: 30px;
    margin: 0%;
    background-color: #04364A;
}
.ievade{
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.laiksLidzIesniegsanai{
    margin-top: 100px;
}
.pulkstens{
    margin-top: 0%;
    color: white;
    font-size: 100px;
}
.pulkstenaTeksts{
    padding-left: 10px;
    margin-top: 100px;
    text-align: center;
    width: 600px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.nakamaLapa{
    font-size: xx-large;
    margin-left: 90%;
}
