body{
    background-color: #65A6B5;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

.kaste1{
    height: 30px;
    margin: 0%;
    background-color: #04364A;
}
.ievade{

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.laiksLidzIesniegsanai{
    margin-top: 100px;
}
.pulkstens{
    margin-top: 0%;
 
    font-size: 100px;
}
.pulkstenaTabula{

    margin-left: auto;
    margin-right: auto;
    
}
td{
    
    text-align: center;
}
.laikaAtskaite{
    font-size: 100px;
    height: 110px;
}

.pulkstenaStunMinSekTeksts{
    font-size:xx-large ;
}

.nakamaLapa{
    font-size: xx-large;
    margin-left: 90%;
}
